# intelliJ project files
.idea/

# mac
.DS_Store

# task configuration
crontab.txt

# virtual environment
venv/

# build files
*.pyc

# logs
logs/

# instance [config]
instance/*.py

# scripts
start.sh
